---
import Layout from "../layouts/Layout.astro";
---

<Layout>
   iPhone un gran salto hacia adelante
   <section>
      <img src="/iphonepink.png" alt="" />
   </section>

   <p>Desde 959$ hasta 1099$ el Pro Max</p>
</Layout>
<p>iPhone 14 Espectacular en todos los sentidos.</p>

<section>
   <img src="/iphoen.png" alt="" />
</section>
<p>Desde 859$ hasta 1199 el Pro Max</p>

<section>
   iPhone SE mucho amor menos gasto

   <img src="/iphoneSE.png" alt="" />

   <p>Desde 529$ hasta 599$</p>
</section>
<p>Modelos</p>
<p>iPhone 15 Pro</p>
<p>iPhone 15</p>
<p>iPhone 14</p>
<p>Redes</p>
<p>TWITTER</p>
<p>Instagram</p>
<p>Youtube</p>
<p>Legales</p>
<p>Contact Support</p>
<p>privacy Policy</p>


