---
import Tarjeta from "../components/Tarjeta.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
<section>
		<div>
			<p class="flex text-5xl">iPhone</p>
			<p class="flex text-gray-600">
				Diseñados para ser amados Potencia y presicion en cada detalle
			</p>
		</div>
	</section>

	<section class="flex flex-wrap">
		<!-- tarjeta 1 -->
		 <Tarjeta></Tarjeta>
		  <Tarjeta></Tarjeta>
		   <Tarjeta></Tarjeta>
		    <Tarjeta></Tarjeta>
		
	</section> 
</Layout>
