---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    iPhone 15 Pro Max 
<p> Forjado en titaneo. Diseñado para llegar mas lejos.</p>

    <section>

<img src="/iphoen15.png" alt="">

    </section>
<p> Precio actual </p>
<p> 1.219$</p>
<p> Desde 50,70 al mes </p>

Acabado: dorado natural


<p>128G</p>
incluido
<p>256G</p>
+130$
<p>512G</p>
230$
<p>1T</p>
360$

<div>

Añadir al carrito +

</div>

 
    


</Layout>