---
import Tarjeta from "../components/Tarjeta.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="relative overflow-hidden flex flex-col items-center justify-center h-screen">
		<img class="absolute top-0 left-0 -z-10 w-full" src="fondo.png" alt="" />

		<div>
			<p class="text-neutral-50">Titaneo robusto y ligero</p>

			<div>
				<button class="text-neutral-50"> COMPRAR </button>

				<button class="text-neutral-50"> mas informacion </button>

			</div>
		</div>
	</div>
	<section>
		<div>
			<p>iPhone 15</p>
		
			nueva camara. Nuevo diseño Nuevas posibilidades
		</div>
		
		<div>
		
			iPhone 14 tan increible  
		</div>

	</section>
</Layout>
