---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    FINALIZAR PEDIDO
    <p>Confirma tus productos y detalles de envio.</p>
    <p>Tu Seleccion</p>
    <p>iPhone15 Pro Max</p>

    <img src="/iphoen15.png" alt="" />

    <p>Dorado natural 512G</p>

    <p>1219,00$</p>

    - 1 +
    <p>ELIMINAR</p>

    Direcion de envio

    <p>Nombre Completo: Ej. Full name</p>
    <p>Correo Electronico: email@gmail.com</p>
    <p>Direccion: Calle, Numero, Piso</p>
    <p>Codigo postal:</p>
    <p>Ciudad:</p>

    METODO DE PAGO

    <p>.Tarjeta .Apple Pay .Transferencia</p>

    <p>Resumen</p>

    Subtotal

    <p>Impuestos(IVA 21%) 211,56$</p>
    <p>Envio gratis</p>
    <p>TOTAL</p>
    1430,56$/ 119,21$/ Mes
    <p>Finalizar pedido</p>
    Pago 100% Seguro y Encriptado Nota del editor

    <p>
        La presicion no es un accidente. Cada iPhone en tu Carrito ha sido
        Diseñado con una tolerancia de micras. Estas a un paso de la ingenieria
        mas avanzada del mundo.
    </p>

    <p>The precision editorial</p>

    La curaduria definitiva del diseño tecnologico

    <p>MODELOS</p>

    iPhone 15 Pro Max iPhone 14 iPhone SE Soporte

    <p>Contact Support Privacy Policy</p>

    <p>Social</p>

    <p>TWITTER INSTAGRAM YOUTUBE</p>

    <p>c 2026 The precision editorial. All Rights reserved</p>
</Layout>
