<div>
    <div>
        <div>
            <p class="flex text-5xl">iPhone 12 Pro Max</p>
            <p class="flext text-ms text-gray-600">
                Titaneo Forjado para la eternidad
            </p>
        </div>
        <p>new</p>
    </div>

    <div>
        <img src="iphoen.png" class="w-96" alt="" />
    </div>

    <div>
        <div class="flex justify-star gap-44">
            <div>
                <p>colores</p>
                <div class="flex gap-2">
                    <div class="w-4 h-4 rounded-full bg-black"></div>
                    <div class="w-4 h-4 rounded-full bg-gray-900"></div>
                    <div class="w-4 h-4 rounded-full bg-pink-400"></div>
                    <div class="w-4 h-4 rounded-full bg-orange-400"></div>
                </div>
            </div>

            <div>
                <p class="flex text-3xl">Desde</p>
                <p class="flex text-gray-600">1.219$</p>
            </div>
        </div>

        <button class="bg-gray-600 py-5 px-20 justify-center text-white"
            >COMPRAR</button
        >
    </div>
</div>
