---
import { Icon } from "astro-icon/components";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<header class="flex justify-between px-16 py-4">
			<div class="flex">
				<Icon name="apple" size={24} />
				<h1 class="font-black">Apple By Mathias Antolinez</h1>
			</div>

			<nav>
				<ul class="flex gap-8">
					<li><a href="/">Home</a></li>
					<li><a href="/Catalogo">Catalogo</a></li>
					<li><a href="/Detalle">Detalle</a></li>
					<li><a href="/pago">pago</a></li>
				</ul>
			</nav>


			
			<div>
				<Icon name="carrito" size={20} />
			</div>
		</header>

		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
